 
 :root {
   --primary: #4900FF;
   --secondary: #5E00FF;
   --point: #45E9AC;

   --wh: #FFFFFF;
   --gray: #999999;
   --bk: #222222;

   --light-gray: #f9f9f9;
   --light-purple: #f6f3ff;
   --light-green: #F5FFFB;
   --light-blue: #EFFBFF;

   --neutral-50: #fafafa;
   --border-gray: #eeeeee;

    /* Typography */
    /* Heading */
    --h3-size: clamp(28px, 3.5vw, 42px);
    --h3-weight: 400;
  
    --h4-size: clamp(22px, 2.8vw, 32px);
    --h4-weight: 500;
  
    --h5-size: clamp(18px, 2.2vw, 24px);
    --h5-weight: 400;
  
    --h6-size: clamp(16px, 1.8vw, 18px);
    --h6-weight: 600;
  
    /* Body */
    --body01-size: clamp(14px, 1.4vw, 16px);
    --body01-weight: 400;
  
    --body02-size: clamp(13px, 1.2vw, 14px);
    --body02-weight: 500;
 }

 h3 {
   font-size: var(--h3-size);
   font-weight: var(--h3-weight);
   letter-spacing: -0.03em;
 }

 h4 {
   font-size: var(--h4-size);
   font-weight: var(--h4-weight);
   letter-spacing: -0.03em;
 }

 h5 {
   font-size: var(--h5-size);
   font-weight: var(--h5-weight);
   letter-spacing: -0.03em;
 }

 h6 {
   font-size: var(--h6-size);
   font-weight: var(--h6-weight);
   letter-spacing: -0.03em;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html {
    scroll-behavior: smooth;  
    font-size: 100%;
 }

 body {
    font-family: 'Pretendard', sans-serif;
    font-size: var(--body02-size);
    font-weight: 400;
    background-color: var(--white);
    color: var(--bk);
    line-height: 1.6 !important;
    letter-spacing: -0.03em;
 }

  img {
    width: 100%;
    display: block;
  }

  /* ==================== 기본 Section ==================== */
  section {
    width: 100%;
    /* overflow: hidden;
    height: 100vh; */
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
  }
  section.show {
    opacity: 1;
    transform: translateY(0);
  }

  /* ==================== Select ==================== */
  select {
    border: 1px solid var(--gray);
    border-radius: 0.3rem;
    padding: 0.2rem 0.6rem;
    background-color: var(--wh);
    cursor: pointer;
    font-size: var(--body02-size);
    font-weight: 500;
    outline: none;
  }

  section .section-tag {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    border-radius: 99px;
    text-transform: uppercase;

    width: fit-content;
    padding: 0.4rem 1.6rem;
    margin-bottom: 1.2rem;

    background-color: var(--primary);
    color: var(--wh);
  }
  
  
  /* ==================== CTA Button ==================== */
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;

    background-color: var(--bk);
    color: var(--wh);
  }
  .btn:hover {
    background-color: #000;
  }
  .btn-primary {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
  }
  
  .btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
  
  .btn-outline {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(153, 153, 153, 0.36);
  }
  
  .btn-outline:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }


  /* ==================== slider ==================== */
  .slide .business-img {
    position: absolute;
    background-size: cover;
    background-position: center;
    transform: translateY(0);
    transition: transform .8s ease;
  }

  .slide.active .business-img {
    transform: translateY(-10px);
  }
  .slider {
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 2;
  }
  .slide.active {
    opacity: 1;
    pointer-events: auto;
  }
  .content .item-desc {
    margin: 0;
    transform: translateY(20px);
    opacity: 0;
    transition: .6s ease;
    font-size: 18px;
  }

  .slide.active .content .item-desc {
    transform: translateY(0);
    opacity: 1;
    transition-delay: .2s;
  }
  
  .thumb {
    position: relative;
    /* width: 835px;
    height: 460px; */
    width: clamp(320px, 45vw, 835px);
    height: clamp(176px, 25vw, 460px);
    z-index: 2;
    overflow: hidden;
  }
  .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform .8s ease;
  }
  .slide.active .thumb img {
    transform: scale(1);
  }

  .dots {
    position: absolute;
    /* left: 200px; */
    left: clamp(48px, 10vw, 180px);
    bottom: 10%;
    display: flex;
    gap: 6px;
    z-index: 5;
  }
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--gray);
    cursor: pointer;
    transition: .25s;
  }
  .dot.active {
    background: var(--primary);
    transform: scale(1.3);
  }