@charset "UTF-8";
@include "reset.css";
@include "common.css";


/* ============ Tablet ============  */
@media (max-width: 1300px) {
section.about .value-circle {
  width: clamp(180px, 34vw, 300px);
}
  section.uipath {
    height: 120dvh;
  }
  section.business .business-content:nth-child(3) .service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  section.business .business-content:nth-child(3) .service-card {
    height: clamp(9.375rem, 30vw, 14.375rem);
  }
}
@media (max-width: 64rem) {

  .hero-image-box {
    right: 20%;
    transform: translateX(50%);
    bottom: clamp(-20%, -5vw, -15%);
    left: auto;
  }
  .hero-images img:nth-child(1) {
    right: 12.875rem;
  }
  .hero-images img:nth-child(2) {
    right: 22%;
  }
  .hero-images img:nth-child(3) {
    bottom: 10%;
  }

  /* ========= about section */
  section.about {
    flex-direction: column;
    height: 100%;
    padding: clamp(1rem, 2vw, 3rem);
    background: url(/images/about_back_imges.png) cover right no-repeat ;
  }
  .about-left {
    width: 100%;
    padding: 20vw 0 0 0;
  }
  section.about .about-right {
    width: 100%;
    padding: clamp(80px, 20vw, 240px) clamp(16px, 2vw, 40px);
  }
  section.about .tagline-box {
    width: 60%;
  }
  section.about .about-box {
    position: static;
    transform: none;
  }
  section.about .about-content {
    padding: 0;
  }
  section.about .value-circle {
    font-size: var(--h5-size);
  }

  /* ========= partners section */
  section.partners {
    flex-direction: column;
    height: auto;
    overflow: visible;
  }
  .partners-left .partners-content {
    padding: 0;
  }
  .partners-left,
  .partners-right {
    width: 100%;
    padding: clamp(80px, 20vw, 240px) clamp(16px, 4vw, 40px);
  }
  .partners-left {
    order: 1;
    position: static;
    height: 100%;
    background-color: var(--light-gray);
    box-sizing: border-box;
  }
  .partners-left .partners-content {
    bottom: 0;
  }
  .logo-box img {
    max-height: 25px;
  }
  /* ========= uipath section */
  section.uipath {
    height: 150dvh;
  }
  .uipath-header {
    position: static;
    padding: clamp(80px, 20vw, 240px) clamp(16px, 4vw, 40px);
  }
  section.uipath::after {
    display: none;
  }
  .slider {
    overflow: visible;
    height: 100%;
  }
  .uipath-box.slide {
    flex-direction: column;
    left: 0;
    width: 100%;
    padding: clamp(16px, 4vw, 40px);
    align-items: start;
    justify-content: start;
    bottom: 5%;
    gap: 10vw;
    height: 100%;
  }
  .uipath-services.content {
    max-width: 100%;
    margin-bottom: 180px;
  }
  .thumb {
    width: 100%;
    height: auto;
    order: -1;
  }
  .dots {
    bottom: 40%;
    left: 5vw;
  }
  section.uipath-process {
    height: auto;
    padding: clamp(80px, 20vw, 240px) clamp(16px, 4vw, 40px);
  }
  section.uipath-process .process-box {
    height: auto;
  }
  /* ========= ntas uipath section */
  section.ntas-uipath {
    overflow: hidden;
    padding: clamp(80px, 20vw, 240px) clamp(16px, 4vw, 40px);
  }
  section.ntas-uipath .ntas-uipath-process {
    flex-direction: column;
    gap: 18vw;
  }
  section.ntas-uipath .process-item {
    gap: 4vw;
    width: 100%;
    justify-content: space-between;
  }
  section.ntas-uipath .item-image {
    width: 80%;
  }
  section.ntas-uipath .item-title {
    font-size: var(--h4-size);
  }
  section.ntas-uipath .item-desc {
    font-size: var(--h5-size);
  }
  section.ntas-uipath .process-item::before {
    top: 80%;
    left: 50%;
  }

  /* ========= business section */
  section.business {
    height: 150dvh;
  }
  .business-header {
    top: 15%;
    left: 5%;
  }
  section.business .business-box {
    left: 5%;
    bottom: 15%;
    flex-direction: column;
    padding: 0;
    width: 90%;
    box-sizing: border-box;

    gap: 4vw;
  }
  .service-cards {
    width: 100%;
    flex-direction: column;
  }
  .service-card {
    padding: 4vw 2vw;
  }
  .card-title {
    margin-bottom: 4vw;
  }
  .card-desc {
    font-size: clamp(13px, 1vw, 14px);
  }
  section.business .business-slider .dots {
    left: 5%;
    bottom: 10%;
  }
  section.business .business-content:nth-child(3) .service-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  section.business .business-content:nth-child(3) .card-title::after {
    top: 10%;
    right: -32px;
  }
  /* ========= services section */
  section.services {
    flex-direction: column;
    height: auto;
  }
  .services-left,
  .services-right {
    width: 100%;
    padding: clamp(80px, 20vw, 240px) clamp(16px, 4vw, 40px);
  }
  .services-left .services-content {
    padding-left: 0;
  }
  .services-right {
    height: 50dvh;
  }
  .services-right .services-image {
    top: 68%;
    left: 50%;
    width: 100%;
  }
  /* 모니터 화면 영역 */
  .monitor-screen {
    top: 52%;
    left: 48.3%;
    width: 84%;
    height: 82%;
  }
  /* ========= recruit section */
  Section.recruit {
    padding: clamp(80px, 20vw, 240px) clamp(16px, 4vw, 40px);
  }
  .benefits-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .recruitment-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
  }
  .contact-info {
    flex-direction: column;
    padding: 0 4vw;
  }
}

/* ============ MOBILE HEADER ============ */
@media (max-width: 768px) {

  html {
    font-size: 62.5%;
  }
  .header {
    width: 100%;
    height: 70px;
    padding: 0 20px;
  }

  header .logo {
    width: 110px;
  }

  .hamburger {
    display: flex;
    z-index: 1001;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 1.25rem;
    box-shadow: .125rem 0 .625rem rgba(0, 0, 0, 0.1);

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav.active {
    transform: translateX(0);
  }

  .nav-link {
    font-size: var(--h5-size);
    margin-bottom: 1.25rem;
    width: 100%;
    border-bottom: .0625rem solid #f0f0f0;
    padding-bottom: .625rem;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(.3125rem, .375rem);
    background-color: #5E00FF;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(.3125rem, -0.375rem);
    background-color: #44E8AB;
  }
}

/* ============ MOBILE ============ */
@media (max-width: 48rem) {
  .hero {
    height: 100vh;
    padding: 0 4vw;
  }

  .hero-content {
    margin: 0;
  }

  .hero-title {
    line-height: 1.3;
  }

  .hero-image-box {
    width: clamp(240px, 70vw, 320px);
    height: clamp(240px, 70vw, 320px);

    right: 50%;
    transform: translateX(50%);
    bottom: clamp(-10%, -5vw, -5%);

    left: auto;
  }

  /* hero 안에 둥둥 뜨는 이미지 축소 */
  .hero-images img:nth-child(1) {
    width: 26px;
  }

  .hero-images img:nth-child(2) {
    width: 48px;
  }

  .hero-images img:nth-child(3) {
    width: 64px;
  }
  
  /* ========= about section */
  section.about .tagline-box {
    width: 80%;
  }

  /* ========= uipath section */
  section.uipath {
    height: 120dvh;
  }
 
  /* ========= business section */
  section.business {
    height: 150dvh;
  }
  .services-right .services-image {
    top: 68%;
    left: 50%;
    width: 100%;
  }
  section.business .business-content:nth-child(3) .service-card {
    height: clamp(19.375rem, 30vw, 22rem);
  }
  /* 모니터 화면 영역 */
  .monitor-screen {
    top: 58%;
    left: 48.5%;
    width: 84%;
    height: 50%;
  }

  /* ========= recruit section */
  .benefits-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .benefit-item {
    justify-content: flex-start;
    height: clamp(14rem, 20vw, 15rem);
  }
  .recruitment-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .map-container {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background: #eaeaea;
  }
}

/* ============ MOBILE GO TO TOP ============ */
@media (max-width: 48rem) {
  #goTop {
    right: 5%;
    bottom: 5%;
    width: 58px;
    height: 58px;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(14px);

    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.18);
  }

  #goTop svg {
    width: 22px;
    height: 22px;
    stroke-width: 2.6;
  }

  #goTop:active {
    transform: scale(0.92);
  }
}
