@charset "UTF-8";

/* ==================== Header ==================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 2.5rem;
  z-index: 100;
  transition: background-color .3s ease, backdrop-filter .3s ease;
}
header .logo {
  display: flex;
  align-items: center;
  width: 8.75rem;
}
.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-link {
  color: var(--bk);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.25s ease;
}
.nav-link:hover {
  color: var(--primary);
}

.header.scroll-active {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(.5rem);
  box-shadow: 0rem .25rem 3.3813rem rgba(0, 0, 0, 0.05);
}

/* 햄버거 아이콘은 데스크탑에서 숨김 */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #4900FF;
  /* 브랜드 컬러 활용 */
  border-radius: 3px;
  transition: all 0.3s ease;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  /* 약간 어둡게 깔기 */
  backdrop-filter: blur(10px);
  /* 배경 블러 처리 (핵심) */
  -webkit-backdrop-filter: blur(10px);
  /* 사파리 지원 */
  z-index: 999;
  /* 메뉴보다는 뒤, 컨텐츠보다는 앞 */

  /* 애니메이션 */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* 활성화 시 보이게 설정 */
.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Go To Top Button - 2025 Trend 스타일 */
#goTop {
  position: fixed;
  right: 1.5rem;
  bottom: 2rem;
  width: 3.25rem;
  height: 3.25rem;

  border-radius: .875rem;
  background-color: var(--light-green);
  backdrop-filter: blur(.625rem);
  box-shadow: 0 .25rem 1.25rem rgba(0, 0, 0, 0.12);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
  border: .0625rem solid var(--point);
}

#goTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#goTop svg {
  width: 1.25rem;
  height: 1.25rem;
  stroke: var(--point);
  stroke-width: 2.4;
}

/* ==================== Hero Section ==================== */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, var(--light-purple) 0%, rgba(255, 255, 255, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.hero-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 11.125rem;
}
section.hero .logo {
  width: 15.4375rem;
}
.hero-main-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-title {
  font-weight: 400;
  color: var(--bk);
}
.hero-title strong {
  font-weight: 700;
}
.hero-subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--bk);
}

.hero-image-box {
  position: absolute;
  right: 0;
  width: 43.75rem;
  height: 43.75rem;
  background: url(/images/hero_image.png) center/contain no-repeat;
  bottom: 0;
  left: 58%;
  /* left: 69.5625rem; */
  z-index: 2;
}
.hero-images {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-images img:nth-child(1) {  width: 2.4375rem;}
.hero-images img:nth-child(2) {  width: 5.4375rem;}
.hero-images img:nth-child(3) {  width: 7.125rem;}

.hero-images .hero01 {
  position: absolute;
  right: 0;
  top: -5.9375rem;
  right: 7.5rem;
  z-index: 3;
  animation: floatUpDown01 1.8s ease-in-out infinite;
}
@keyframes floatUpDown01 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.625rem);
    /* 올라가는 높이 */
  }

  100% {
    transform: translateY(0);
  }
}

.hero-images .hero02 {
  position: absolute;
  right: 0;
  top: 45%;
  right: -8%;
  z-index: 3;
  animation: floatUpDown02 3s ease-in-out infinite;
}
@keyframes floatUpDown02 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.875rem);
    /* 올라가는 높이 */
  }

  100% {
    transform: translateY(0);
  }
}

.hero-images .hero03 {
  position: absolute;
  right: 0;
  bottom: 5%;
  left: -24%;
  z-index: 3;
  animation: floatUpDown03 4s ease-in-out infinite;
}
@keyframes floatUpDown03 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.625rem);
    /* 올라가는 높이 */
  }

  100% {
    transform: translateY(0);
  }
}


/* ==================== About Section ==================== */
section.about {
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, var(--secondary) 0%, var(--primary) 100%);
  background: url(/images/about_back_imges.png) center bottom no-repeat;
  background-size: cover;
}
.about-left {
  width: 54.5%;
  position: relative;
}
.about-left .about-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center

}
section.about .about-grid {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2.625rem;
}
section.about .logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
section.about .value-circle {
  text-align: center;
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
  border: .125rem solid var(--border-gray);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bk);
  transition: .3s ease;
}
section.about .value-circle:hover {
  box-shadow: 0 .6875rem 1.25rem rgba(83, 5, 207, 0.5);
  transform: scale(1.02);
}
section.about .value-circle .value-text {
  transition: .3s ease;
}
section.about .value-circle:hover .value-text {
  transform: scale(1.2);
}
section.about .value-circle strong {
  color: var(--primary);
  font-weight: 700;
}

section.about .about-right {
  width: 44.5%;
  position: relative;
}
section.about .about-content {
  position: absolute;
  bottom: 16%;
  padding: 4.875rem;
}
section.about .section-tag {
  background-color: var(--wh)!important;
  color: var(--primary);
}
section.about .section-desc {
  color: var(--wh);
}

/* ==================== Partners Section ==================== */
section.partners {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  overflow: hidden;
}
.partners-left {
  width: 54%;
  background-color: var(--light-gray);
  position: relative;
}
.partners-left .partners-content {
  position: absolute;
  padding-left: 11.125rem;
  padding-right: 4.875rem;
  bottom: 20%;
}
section.partners .section-tag {
  background-color: var(--primary);
  color: var(--wh);
}

.partners-right {
  width: 46%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 0 2.25rem;
}
.partners-right .logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.5rem 2.5rem;
  align-self: stretch;
  flex-wrap: wrap;
      
  width: auto;
  object-fit: contain;
}
.logo-box img {
  opacity: 0.6;
  transition: 0.3s ease;
  width: auto;
  max-height: 2.8125rem;
}
.logo-box img:hover {
  opacity: 1;
  transform: scale(1.07);
}


/* ==================== UiPath Section ==================== */
section.uipath {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--wh);
  border-bottom: .125rem solid var(--light-gray);
}
section.uipath::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 46%;
  height: 100%;
  background-color: #F8F5FF;
  background-size: cover; 
  z-index: 1;
}
.uipath-header {
  position: absolute;
  z-index: 2;
  top: 11.25rem;
  left: 11.25rem;
}
.uipath-title {
  font-size: 2.625rem;
  font-weight: 400;
  color: var(--bk);
  line-height: 1.6;
  letter-spacing: -0.0788rem;
}
.uipath-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray);
  line-height: 1.6;
  letter-spacing: -0.045rem;
}

.uipath-box.slide {
  position: absolute;
  inset: 0;
  width: calc(100% - 11.125rem);
  left: 11.125rem;
  bottom: 10%;

  display: flex;
  align-items: self-end;
  justify-content: space-between;
  
  padding: 0 5rem 0 1.25rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity .8s ease;
  will-change: opacity;
}
.uipath-services.content {
  position: relative;
  z-index: 2;
  max-width: 54%;
  margin-bottom: 11.25rem;
}
.uipath-services.content .item-title {
  margin: 0 0 .75rem;
  transform: translateY(1.25rem);
  opacity: 0;
  transition: .6s ease;
  font-weight: 700;
}

.slide.active .content .item-title {
  transform: translateY(0);
  opacity: 1;
  transition-delay: .1s;
}
section.uipath .item-title::before {
  content: attr(id);
  display: flex;
  flex-direction: column;
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  color: var(--gray);
  margin-bottom: .75rem;
}


/* ==================== UiPath Process Section ==================== */
section.uipath-process {
  padding: 8.75rem 11.25rem;
  height: auto;
  
}
section.uipath-process .uipath-process-content {
  margin-bottom: 3.75rem;
}
section.uipath-process .process-box {
  border: .0625rem solid #DADADA;
  border-radius: .75rem;
}
section.uipath-process .process-box img {
  width: 100%;
  padding: 1.25rem 2.5rem;
}

/* ==================== ntas-uipath ==================== */
section.ntas-uipath {
  width: 100%;
  height: auto;
  background: #F9F9F9;
  padding: 8.75rem 11.25rem;
}
section.ntas-uipath .ntas-feature {
  margin-bottom: 7.5rem;
}

section.ntas-uipath .ntas-uipath-process {
  display: flex;
  justify-content: space-between;
  gap: 11.25rem;
}
section.ntas-uipath .process-item {
  flex: 1;
  min-width: 15.625rem;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
section.ntas-uipath .item-image {
  min-height: 17.8125rem;
}
section.ntas-uipath .item-image img {
  height: 100%;
}

section.ntas-uipath .item-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
section.ntas-uipath .item-title {
  font-weight: 700;
}
section.ntas-uipath .item-title::before {
  content: attr(id);
  display: flex;
  flex-direction: column;
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  color: var(--gray);
  margin-bottom: .75rem;
}
section.ntas-uipath .item-desc {
  font-size: var(--body01-size);
  font-weight: var(--body01-weight);
  color: var(--gray);
  line-height: 1.6;
  letter-spacing: -0.03rem;
}
section.ntas-uipath .item-desc ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

/* ==================== Business Section ==================== */
section.business {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.business-header {
  position: absolute;
  z-index: 3;
  top: 11.25rem;
  left: 11.25rem;
}
.business-title {
  font-size: 2.625rem;
  font-weight: 400;
  color: var(--bk);
  line-height: 1.6;
  letter-spacing: -0.0788rem;
}
.business-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray);
  line-height: 1.6;
  letter-spacing: -0.045rem;
}

section.business .business-slider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
section.business .business-slider .dots {
  left: 12.5rem;
  bottom: 15%;
}

section.business .business-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
}
section.business .business-content.slide.active {
  opacity: 1;
}
section.business .business-content:nth-child(2) {
  background-color: var(--light-green);
}
section.business .business-content:nth-child(3) {
  background-color: var(--light-blue);
}
section.business .business-content:nth-child(4) {
  background-color: var(--light-purple);
}

section.business .business-img {
  position: absolute;
  right: -2.5rem;
  width: 54.375rem;
  height: 54.375rem;
  aspect-ratio: 1/1;
}
section.business .business-content:nth-child(2) .business-img {bottom: 0;}
section.business .business-content:nth-child(3) .business-img {bottom: -3.125rem;}
section.business .business-content:nth-child(4) .business-img {bottom: 3.125rem;}

section.business .business-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section.business .business-box {
  position: absolute;
  left: 11.125rem;
  bottom: 15%;
  width: calc(100% - 11.125rem);
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 0 1.25rem;
}

section.business .item-title{
  transform: translateY(1.25rem);
  opacity: 0;
  transition: .6s ease;
  margin-bottom: .75rem;
  font-weight: 700;
}
section.business .item-title::before {
  content: attr(id);
  display: flex;
  flex-direction: column;
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  color: var(--gray);
  margin-bottom: .75rem;
}
section.business .item-desc {
  font-size: 1.125rem;
}

/* ======== service-cards ======== */
.service-cards {
  display: flex;
  gap: 12px;
  margin-top: 30px;
  width: 65%;
}
.service-card {
  flex: 1;
  backdrop-filter: blur(.5625rem);
  border-radius: .375rem;
  padding: 30px 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16.75rem;
}
section.business .business-content:nth-child(2) .service-card{
  background: rgba(69, 233, 172, 0.2);
  border: .0625rem solid var(--point);
}
section.business .business-content:nth-child(3) .service-cards {
  gap: .375rem;
}
section.business .business-content:nth-child(3) .service-card{
  background: rgba(255, 255, 255, 0.58);
  border: .0625rem solid var(--wh);
  height: 18.75rem;
}
section.business .business-content:nth-child(3) .card-title {
  color: var(--primary);
  position: relative;
  z-index: 2;
}
section.business .business-content:nth-child(3) .card-title::after {
  position:absolute;
  top: 10%;
  right: -3.4375rem;
  transform: translate(-50%);
  z-index: 3;

  content: '>';
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.625rem;
  height: 1.625rem;
  color: var(--wh);

  border-radius: 624.9375rem;
  background: var(--ntas_bk, #222);
}
section.business .business-content:nth-child(3) .service-card:last-child .card-title::after {
  display: none;
}
section.business .business-content:nth-child(4) .service-card{
  background: rgba(73, 0, 255, 0.20);
  border: .0625rem solid var(--primary);
}

.card-title {
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  color: var(--bk);
  letter-spacing: -0.0338rem;
}

.card-desc {
  font-size: var(--body01-size);
  font-weight: var(--body01-weight);
  color: var(--bk);
  line-height: 1.6;
  letter-spacing: -0.05rem;
}

/* ==================== Services Section ==================== */
section.services {
  width: 100%;
  height: 100vh;
  background-color: var(--wh);
  display: flex;
}
.services-left {
  width: 54%;
  height: 100%;
  display: flex;
  align-items: center;
}
.services-left .services-content {
  padding-left: 178px;
}
.services-left .services-content h5 {
  color: var(--gray);
  margin-bottom: 1.5rem;
}
.services-left .services-tags {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
  margin-bottom: 3.75rem;
}
.services-left .tag {
  background: var(--light-gray);
  border-radius: .375rem;
  padding: .375rem .75rem;
  text-align: center;
  font-size: .875rem;
  font-weight: 500;
  color: var(--bk);
}

.services-right {
  width: 46%;
  background: linear-gradient(215deg, #000 2.3%, #222 93.1%);
  position: relative;
  overflow: hidden;
}
.services-right .services-image {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}


/* ==================== recruit Section ==================== */
Section.recruit {
  width: 100%;
  background: var(--neutral-50);
  padding: 15rem 11.125rem;
}
Section.recruit h5 {
  margin-bottom: 3.75rem;
  color: var(--gray);
}
.benefits-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .75rem;
  margin-bottom: 3.75rem;
  width: 100%;
}

.benefit-item {
  background: var(--wh);
  border: .0625rem solid var(--border-gray);
  border-radius: .375rem;
  padding: 1.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 9.375rem;
  max-width: 100%;
}
.benefit-item:hover {
  border-color: var(--primary);
  filter: blur(.8);
}
.benefit-item:hover .benefit-title {
  color: var(--primary);
}
.benefit-title {
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  color: var(--bk);
  letter-spacing: -0.0338rem;
  transition: .3s ease;
}
.benefit-title img {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: .75rem;
}
.recruitment-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .75rem;
  width: 100%;
}

.recruitment-card {
  background: #222222;
  border-radius: .375rem;
  padding: 1.875rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  color: white;
  min-height: 18.125rem;
  width: 100%;
}

.card-label {
  font-size: var(--body02-size);
  font-weight: var(--body02-weight);
  color: var(--gray);
  letter-spacing: -0.0262rem;
}

.card-heading {
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  color: var(--point);
  letter-spacing: -0.045rem;
}

.card-content {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  line-height: 1.6;
  letter-spacing: -0.03rem;
}

.card-footer {
  font-size: .875rem;
  font-weight: 500;
  color: var(--gray);
  letter-spacing: -0.0262rem;
}

/* ==================== Contact Section ==================== */
.contact h5 {
  margin-top: 7.5rem;
  color: var(--gray);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  padding: 0 1.875rem;
  margin-bottom: 2.5rem;
}

.contact-value {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
  letter-spacing: -0.03rem;
}
.contact-value::before {
  content: attr(data-attr);
  display: flex;
  flex-direction: column;
  font-size: .875rem;
  font-weight: 600;
  color: var(--primary);
  padding-bottom: .75rem;
}

.map-container {
  width: 100%;
  aspect-ratio: 1563 / 537;
  border-radius: .375rem;
  overflow: hidden;
  background: #eaeaea;
}

/* ==================== Footer ==================== */
.footer {
  background-color: var(--primary);
  color: white;
  padding: 1.25rem .625rem;
  text-align: center;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: -0.0262rem;
}

